*{
    box-sizing: border-box;
} 
body {
    margin: 0;
}
/* NAVIGATION STYLINGS */
.navigation {
    background-color: #081B33;
}/*all screen*/

.navigation ul {
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
} /*all screen*/

.navigation li {
    padding: 20px;
}/*all screen*/
/*--------------------------------------*/

/* HOME */
.personal {
    border-radius: 40%;
    height: 100%;
    width: 20%;
}
.quizapps{
    width: 100%;
}

.welcome {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    /* background: linear-gradient(to right, #506680 50%, white 0%); */
}
.viewWork {
    text-align: center;
}
.hello {
    align-self: center;
} 

.links {
    text-decoration: none;
    color: white;
}
/*--------------------------------------*/

/* ABOUT */
.me {
   /* display: block; */
   width: 100%;
   box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.06);
}
.me > img {
    object-fit: cover;
    width: 100%;
}
.main-about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    grid-gap: 0.5rem;
}
/*--------------------------------------*/
/* PORTFOLIO */
.main-portfolio {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-gap: 1rem;
    margin: 0.5rem;
}
.video {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
  }
   
  .video iframe {
     border: 0;
     height: 75%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }
   
  /* 4x3 Aspect Ratio */
  .video-4x3 {
    padding-top: 75%;
  }

.portfolio > img {
    object-fit: cover;
    width: 100%;
}
/*---------------------------------------*/

/* CONTACT */
.main-contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    grid-gap: 1rem;
}
.contacts2 {
    object-fit: cover;
    width:100%;
}

/*---------------------------------------*/

/* MEDIA QUERIES */
@media screen and (min-width: 1000px) {
    .navigation li {
        display: inline;
    }
    .navigation ul {
        text-align: right;
        padding: 20px;
    }
    .main-portfolio {
        margin: 10px;
    }
    .contacts2 {
        object-fit: cover;
        width:50%;
    }
}